  version: '3.8'

  services:
    db:
      image: postgres:16
      container_name: gf-postgres
      environment:
        POSTGRES_DB: gerenciamento_financeiro
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: root
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      restart: unless-stopped

  volumes:
    postgres_data: